@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply min-h-screen bg-slate-50 font-grotesk text-ink antialiased transition-colors duration-300 dark:bg-night dark:text-white;
  }

  main {
    @apply block;
  }
}
